<article style="width:300px;margin:50px auto;padding:20px;font-family: verdana, arial, helvetica, sans-serif; border:#303030 1px solid">
  <h1 style="text-align: center">Not Logged In</h1>
  <p style="text-align: center">Use the link in your email.</p>
</article>
